.footer{
    position: relative;
    margin-top: 300px;
    padding: 6rem 4rem;
    background-color: $gray;
    z-index: 20;
    .footer_image_cnt{
        height: 300px;
        position: absolute;
        top: -300px;
        left: -1%;
        right: 1%;
        &__image{
            width: 101%;
            height: 101%;
        }
    }
}
.footer_widgets{
    display: flex;
    justify-content: center;
    align-items: center;
}
.go_top_cnt{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    #go_top{
        display: block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        >.icon{
            width: inherit;
            height: inherit;
            fill: none;
            stroke: none;
        }
    }
}
.footer_copy{
    text-align: center;
}
@media only screen and (min-width: 1921px) and (max-width: 3840px) {
    .footer{
        margin-top: 400px;
        .footer_image_cnt{
            height: 400px;
            top: -400px;
        }
    }
}
@media only screen and (max-width: 1400px) {
   .footer{
        margin-top: 250px;
        padding: 4rem 2.8rem;
        .footer_image_cnt{
            height: 250px;
            top: -250px;
        }
    }
}
@media screen and (max-width: $size-md) {
	.footer_menu{
        margin-bottom: 2rem;
    }
    .footer_widgets{
        margin-bottom: 2rem;
    }
    .go_top_cnt{
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: $size-sm) {
    .footer_menu{
        text-align: center;
    }
}
@media only screen and (max-width: 700px) {
    .footer{
        margin-top: 150px;
        padding: 3rem 1.5rem;
        .footer_image_cnt{
            height: 150px;
            top: -150px;
        }
    }
}