body{
    font-size: 18px;
    background-color: $third;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    overflow-x: hidden;
}
img{
	width: 100%;
	height: auto;
}
*::-moz-selection{
	color: gray;
	background-color: $primary-color;
	text-shadow: none;
} 
*::selection{
	color: gray;
	background-color: $primary-color;
	text-shadow: none;
}
.icon{
    width: 70px;
    height: 70px;
    stroke: currentColor;
    fill: currentColor;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
}
.h2{
    font-size: 1.5em;
}
.top_showcase{
    position: relative;
    margin-bottom: -120px;
    background-color: $second;
    .loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    svg{
        display: block;
    }
}
// mobile top section start

.mobile_top_animation{
    padding: 5rem 0;
    background: url(../assets/mobile_bg.png);
    background-color: $first;
    background-size: 20px 20px;
    -webkit-box-shadow: inset 0px 0px 56px 20px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 56px 20px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 56px 20px rgba(0,0,0,0.3);
}
.hero_body{
    &__title{
        color: $first;
        text-shadow: -1px -1px 0 $third, 1px -1px 0 $third, -1px 1px 0 $third, 1px 1px 0 $third;
    }
    &__text{
        color: transparent;
        font-weight: normal;
    }
    .text_bright{
        color: $third;
    }
}

// mobile top section end
.section{
    position: relative;
    z-index: 10;
    padding: 6rem 5rem;
    padding-bottom: 7.5rem;
    background-image: url(../assets/shutter_l.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    &--tb{
        margin: 120px 0;
        background-color: $first;
    }
}
.section--tb{
    p, a, small{
        color: $third !important;
    }
}
.section--tb:nth-child(odd){
    background-color: $third;
    background-position: right center;
    background-image: url(../assets/shutter_r.svg);
    p, a, small{
        color: $first !important;
    }
    .btn{
        color: $third !important;
    }
}

.main, .single_post, .single_page{
    margin-top: 2rem;
    min-height: calc(100vh - 740px);
}

// gallery front page start

.gallery_item_outer{
    transform: perspective(400px);
    transform-style: preserve-3d;
    pointer-events: none;
}
.gallery{
    box-shadow: 0 3px 7px -1px rgba(0,0,0,0.3);
    overflow: hidden;
    &__img{
        display: block;
        pointer-events: none;
        transition: all 1500s linear;
    }
    &__caption{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transform: scale(1.2);
        color: $white;
        z-index: 10;
        overflow: hidden;
        .caption_header{
            padding: 0.5rem;
            text-align: center;
            margin: 0;
            text-shadow: -1px -1px 0 $first, 1px -1px 0 $first, -1px 1px 0 $first, 1px 1px 0 $first;
            position: relative;
            z-index: 100;
            font-weight: normal;
        }
    }
    &__video_icon_cnt{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .glare{
        position: absolute;
        width: 50%;
        height: 50%;
        opacity: 0;
        pointer-events: all;
        z-index: 20;
    }
    &__glare_1{
        top: 0px;
        left: 0px;
        background: linear-gradient(145deg,rgba(255,255,255,.35) 0, transparent 50%);
    }
    &__glare_2{
        top: 0px;
        right: 0px;
        background: linear-gradient(-145deg,rgba(255,255,255,.35) 0, transparent 50%);
    }
    &__glare_3{
        bottom: 0px;
        left: 0px;
        background: linear-gradient(35deg,rgba(255,255,255,.35) 0, transparent 50%);
    }
    &__glare_4{
        bottom: 0px;
        right: 0px;
        background: linear-gradient(-35deg,rgba(255,255,255,.35) 0, transparent 50%);
    }
}
.gallery_item{
    padding-top: $layout-spacing;
    padding-bottom: $layout-spacing;
    &__link{
        backface-visibility: hidden;
        display: block;
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        pointer-events: all;
    }
}

// gallery front page end

// aside start

.view_all{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.aside{
    >:not(header){
        font-style: italic;
    } 
}

// aside end

// standard post type start

.news{
	margin: 1rem 0;
	&__inner{
		.thumbnail_cnt{
			float: left;
            width: 25%;
            max-width: 510px;
            padding-right: 1rem;
            padding-bottom: 0.25rem;
            margin: 0;
			&__link{
				display: block;
                position: relative;
                height: 0;
                padding-bottom: 56.25%;
			}
		}	
	}
	&__text{
		float: left;
		width: 100%;
	}
}
.standard_heading{
    margin: 0;
    padding-bottom: 0.5rem;
}
.single_standard{
    .content{
        margin-top: 2rem;
    }
}
.read_more, .wide_btn{
    padding-left: 1rem;
    padding-right: 1rem;
}
.read_more{
    &:hover{
        >.more{
            color: $second;
        }
    }
}
.more{
    width: 16px;
    height: 16px;
    margin-left: 4px;
    vertical-align: sub;
    transition: color 0.2s linear;
    pointer-events: none;
}
.search_icon{
    width: 20px;
    height: 24px;
}

// standard post type end

/* responsive video cnt start*/

.video_content{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: $second;
}
.video_content iframe, .video_content object, .video_content embed, .video_content video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wp-block-video, .wp-block-embed{
    margin-left: 0;
    margin-right: 0;
}

/* responsive video cnt end*/

// categories start

.category_cnt{
    white-space: nowrap;
}

// categories end

.after_img{
    position: relative;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    display: inline-block;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.3rem;
        width: 190%;
        height: 6px;
        display: block;
        background-image: url(../assets/angle_bot.svg);
    }
    &--mobile{
        display: block;
        &::after{
            left: 0%;
            width: 100%;
            bottom: unset;
            top: 0.6rem;
        }
    }
}

// utilites start

.text_center{
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.no_select{
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mt_0{
    margin-top: 0;
}
// utilites end

// 404 start

.page_404{
    &__image_cnt{
        max-width: 600px;
        margin: 0 auto;
    }
}

// 404 end

// search page start
.search_field{
    background: $third;
}
.search_results_page_form{
    margin: 0.67em 0;
    .searchform{
        max-width: 500px;
        width: 100%;
    }
}
.search_face{
    @extend .page_404__image_cnt;
    max-width: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

// search page start

// single post start

.heading{
    &--with_picture{
        max-width: 1200px;
        position: relative;
        .standard_picture_grad{
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 55%;
            background: linear-gradient(to top, $third 15%, rgba($third, 0.95) 42%, rgba($third, 0.85) 50%, rgba($third, 0.75) 60%, rgba($third, 0.55) 70%, rgba($third, 0.4) 75%, transparent 100%);
        }
        .standard_post_info{
            position: absolute;
            z-index: 10;
            left: 40%;
            bottom: 0;
            width: 108%;
        }
    }
    &__picture{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%;
        height: 0;
        background-color: $third;
    }
}
    
// single post end

.pagination{
    margin-top: 2rem;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    li{
        .page-numbers:not(.dots){
            transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
            margin: 0.2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: $unit-8;
            background-color: $primary-color;
            color: $light-color;
            font-weight: normal;
            font-style: normal;
            border-color: $primary-color-dark;
            &:focus,
            &:hover{
                background: darken($primary-color-dark, 2%);
                border-color: darken($primary-color-dark, 5%);
                color: $light-color;
            }
            &.current{
                background: darken($primary-color-dark, 4%);
                border-color: darken($primary-color-dark, 7%);
                color: $light-color;
            }
        }
        .page-numbers.dots{
            border-radius: $unit-8;
            margin: 0.2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 40px;
            height: 40px;
        }
    }
}

@-webkit-keyframes loading {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@media only screen and (min-width: 1401px) and (max-width: 1780px) {
    .heading{
        &--with_picture{
            max-width: 1200px;
            position: relative;
            .standard_post_info{
                position: absolute;
                left: 15%;
                bottom: 0;
                width: 95%;
            }
        }
    }
}
@media only screen and (min-width: 1401px) {
    .h2{
        margin-bottom: 0.5rem;
    }
}
@media only screen and (max-width: 1400px) {
    .main, .single_post, .single_page{
        padding-left: 2.8rem;
        padding-right: 2.8rem;
    }
    body{
        .top_showcase{
            margin-bottom: -80px;
            > .angle_top{
                height: 80px;
                top: 0;
                border-width: 80px 100vw 0 0;
            }
        }
        .section{
            margin: 80px 0;
            padding: 4rem 2.8rem;
            padding-bottom: 5.5rem;
        }
        .angle{
            &::before{
                height: 80px;
                top: -80px; 
			    border-width: 0 0 80px 100vw;
            }
            &:after{
                height: 80px;
                bottom: -80px; 
                border-width: 80px 0 0 100vw;
            }
        } 
        .section--tb:nth-child(odd).angle{
            &::before{
			    height: 80px;
                top: -80px; 
			    border-width: 80px 0 0 100vw;
            }
            &::after{
                height: 80px;
                bottom: -80px; 
                border-width: 80px 100vw 0 0;
            }
        } 
    } 
    .heading{
        margin-top: 2rem;
        &--with_picture{
            padding-left: $layout-spacing;
            padding-right: $layout-spacing;
        }
        &__picture{
            overflow: visible;
        }
        .standard_picture_grad{
            display: none;
        }
        .standard_post_info{
            position: initial;
            width: 100%;
        }
    }
}
@media only screen and (max-width: 700px) {
    .main, .single_post, .single_page{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    body{
        .top_showcase{
            margin-bottom: -50px;
            > .angle_top{
                height: 50px;
                top: 0px;
                border-width: 50px 100vw 0 0;
            }
        }
        .section{
            margin: 50px 0;
            padding: 2rem 1.5rem;
            padding-bottom: 3.5rem;
        }
        .angle{
            &::before{
                height: 50px;
                top: -50px; 
			    border-width: 0 0 50px 100vw;
            }
            &:after{
                height: 50px;
                bottom: -50px; 
                border-width: 50px 0 0 100vw;
            }
        } 
        .section--tb:nth-child(odd).angle{
            &::before{
			    height: 50px;
                top: -50px; 
			    border-width: 50px 0 0 100vw;
                
            }
            &::after{
                height: 50px;
                bottom: -50px; 
                border-width: 50px 100vw 0 0;
            }
        } 
    }
}
@media screen and (max-width: $size-xl) {
	.news{
		&__inner{
			.thumbnail_cnt{
				width: 40%;
			}	
		}
	}
}
@media screen and (max-width: $size-lg) {
	.news{
		&__inner{
			.thumbnail_cnt{
				width: 45%;
			}	
		}
	}
}
@media screen and (max-width: $size-md) {
	.news{
		&__inner{
			.thumbnail_cnt{
                width: 70%;
			}	
		}
    }
    .news_heading{
        padding-top: 1rem;
        >a{
            margin-top: 1em;
        } 
    }
}
@media screen and (max-width: $size-sm) {
	.news{
		&__inner{
			.thumbnail_cnt{
                width: 100%;
                padding-right: 0;
			}	
		}
	}
}