.nav_bar{
    padding: 1rem;
    background-color: $second;
    -webkit-box-shadow: rgba(0,0,0,.03) 0 3px 7px -1px;
    box-shadow: 0 3px 7px -1px rgba(0,0,0,.3);
    position: relative;
    z-index: 200;
    font-weight: normal;
}
.nav{
    display: flex;
    justify-content: flex-end;
    .top_menu{
        display: inline-flex;
        >li{
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            padding-left: 22px;
        }
        >li:last-of-type{
            padding-right: 0;
        }
    }
}
.site_header_cnt{
    &__site_header{
        height: 100%;
        position: relative;
    }
}
.main_site_logo{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    img{
        display: block;
    }
}
#mobile_menu_btn{
    &:hover{
        >.icon{
            color: $gray;
        }
    }
}
.btn_flex{
    &:hover{
        >.icon{
            color: $gray;
        }
    }
    .menu, .search_icon{
        transition: color 0.2s linear;
        width: 18px;
        height: 18px;
    }
}
