.arrow-down{
    width: 12px;
    height: 12px;
}
.mobile_menu_wrapper{
	display: none;
	visibility: hidden;
	pointer-events: none;
}
.mobile_menu_wrapper .mobile_menu_cnt__inner.hidden{
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.mobile_menu_wrapper .mobile_menu_cnt.hidden{
	opacity: 0;
	pointer-events: none;
}
.pointer_events{
    pointer-events: all !important;
}
.megamenu_image_cnt{
    margin: 0;
    padding: 0;
    position: relative;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 0.5rem;
}
.featured_image{
    a{
        display: block;
        box-shadow: none;
    }
}
.btn_flex{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 961px) {
	.nav{
		&__mobile_site_header{
			display: none;
		}
    }
    .dropdown_toggle{
        white-space: nowrap;
    }
	.mobile_menu_cnt.hidden{
		visibility: hidden;
    }
    .dropdown:not(.megamenu){
        position: relative;
        .dropdown-menu{
            position: absolute;
            top: calc(100% + 1rem);
            left: -100%;
            padding: $layout-spacing;
            background-color: $second;
            width: 200%;
            opacity: 0;
            transform: translate3d(30px, 0, 0) scale(0.98);
            transform-origin: top;
            pointer-events: none;
            font-size: 0.8rem;
            .menu-item{
                margin: 0.5rem 0;
            }
        }
    }
    // megamenu start
    .megamenu{
        >.dropdown-menu{
            opacity: 0;
            transform: translate3d(30px, 0, 0) scale(0.98);
            transform-origin: top;
            pointer-events: none;
            padding: $layout-spacing;
            background-color: $second;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 500px;
            max-height: calc(100vh - 71px);
            overflow-y: auto;
            -webkit-box-shadow: rgba(0,0,0,.03) 0 3px 7px -1px;
            box-shadow: 0 3px 7px -1px rgba(0,0,0,.3);
            img{
                padding-right: 0.5rem;
            }
        }
        .divider{
            margin: 0.5rem 0.5rem 0.5rem 0; 
            margin-right: 0.5rem;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                width: 6px;
                background-image: url(../assets/angle_right_top.svg);
            }
        }
        .sub{
            font-size: 0.6rem;
            display: inline-block;
            color: $third;
        }
        .menu-item:not(.featured_image){
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0.5rem 1rem 0.5rem 0.5rem; 
            &:last-of-type{
                margin-right: 0.5rem;
            }
            >.sub{
                margin: 2px; 
            }
        }
    }
    .megamenu{
        .megamenu_column{
            margin: 1.5rem 0;
            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;  
                >.menu-item.featured_image{
                    padding: 0.5rem;
                    flex: 0 1 25%;
                    >a{
                        margin: 0;
                    }
                }
            }
        }
    }
    // megamenu end
}
@media screen and (min-width: $size-xl) {
    .megamenu.dropdown{
        >.dropdown-menu{
            .megamenu_column{
                >ul{
                    >.featured_image{
                        flex: 0 1 20%;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $size-2x) {
    .megamenu.dropdown{
        >.dropdown-menu{
            .megamenu_column{
                >ul{
                    >.featured_image{
                        flex: 0 1 16.66666666666667%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $size-lg) {
	.nav{
		&__mobile_site_header{
			display: block;
			margin: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}
	.wrap{
		overflow: scroll;
	}
	.mobile_menu_wrapper{
		display: block;
		visibility: visible;
		pointer-events: auto;
	}
	.mobile_menu_active{
		overflow: hidden;
    	position: fixed;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	top: 0;
    	overflow-y: scroll !important;
		.blur{
			-webkit-filter: blur(8px);
			filter: blur(8px);
		}
		.mobile_menu_wrapper{
			display: block;
		}
	}
	.mobile_menu_wrapper{
		.menu_content{
			padding: 1.6rem;
			height: 100%;
			min-height: 660px;
			background-position: center bottom;
			background-repeat: no-repeat;
            background-size: contain;
            &__heading::after{
                width: 100%;
            }
			&__logo{
                display: flex;
                justify-content: center;
                align-items: center;
                >img{
                    width: 70px;
                    height: 70px;
                    display: block;
                }
            }
		}
		.mobile_menu_cnt{
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0,0,0,0.75);
	    	z-index: 400;
	    	opacity: 1;
	    	-webkit-transition: opacity 0.2s linear;
	    	-o-transition: opacity 0.2s linear;
	    	transition: opacity 0.2s linear;
	    	pointer-events: auto;
	    	visibility: visible;
	    	max-height: 100vh;
	    	-webkit-backdrop-filter: blur(8px);
    		backdrop-filter: none;
			&__inner{
				z-index: 500;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 400px;
				display: block;
				-webkit-transition: -webkit-transform 0.4s ease-in-out;
				transition: -webkit-transform 0.4s ease-in-out;
				-o-transition: transform 0.4s ease-in-out;
				transition: transform 0.4s ease-in-out;
				transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				background-color: $first;
				overflow-y: scroll; 
			}
		}
		.mobile_menu_cnt.transition_delay{
			-webkit-transition-delay: 0.2s;
			-o-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}
		.mobile_menu_list_cnt{
		 	padding: 0.9rem;
            height: calc(100% - (74px + 1.6rem + 78px + 1.6rem));
			&__mobile_list{
				list-style: none;
				padding: 0;
				margin-bottom: 0;
				margin-top: 0;
				list-style: none;
				padding: 0;
				>li{
                    margin-bottom: 1rem;
					>a{
                        color: $third;
                        font-weight: normal;
					}
				}
			}
        }
	}
	.close_menu_cnt{
        padding: 0.9rem;
        padding-top: 1.8rem;
        text-align: center;  
    }

    // close menu button start

    #close_menu_btn{
        &:hover{
            >.icon{
                color: $gray;
            }
        } 
    }
    .close_btn_icon{
        width: 18px;
        height: 18px;
        transition: color 0.2s linear;
    }

    // close menu button end

    // mobile mega menu start

    .mobile_menu_cnt{
        .megamenu .dropdown-menu{
            display: flex;
            font-size: 0.8rem;
        }
        .dropdown-menu{
            font-size: 0.8rem;
        }
        .megamenu_column{
            flex: 1 0 50%;
            padding: 0 0.5rem;
            &:first-of-type{
                padding-left: 0;
            }
            &:last-of-type{
                padding-right: 0;
            }
        }
        .dropdown-menu{
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            a{
                color: $third;
            }
        }
        .dropdown_toggle{
            display: inline-block;
        }
        .menu-item{
            margin: 1rem 0;
            >.sub{
                font-size: 0.6rem;
                font-weight: normal;
                margin: 2px;
                color: $primary-color;
            }
            &:not(.featured_image){
                >.sub{
                    display: block;
                }
            } 
        }
    }

    // mobile mega menu end
}
@media screen and (max-width: 480px) {
	.mobile_menu_wrapper{
		.mobile_menu_cnt{
			&__inner{
				width: 100%;
			}
		}
	}
}