@import "fonts";

@import "./spectre-0.5.8/variables";
@import "./spectre-0.5.8/src/mixins";

@import "./spectre-0.5.8/src/normalize";
@import "./spectre-0.5.8/src/base";
@import "./spectre-0.5.8/src/layout";
@import "./spectre-0.5.8/src/utilities/loading";
@import "./spectre-0.5.8/src/buttons";
@import "./spectre-0.5.8/src/forms";

$first: #4C4C47;
$second:#F06543;
$third: #eee9e3;
$white: #fff;
$gray: #AAAAAA;

@import "./header";
@import "./general";
@import "./footer";
@import "./lightbox";
@import "./main_menu";